python-dotenv
discord.py[voice] - (python3 -m pip install -U discord.py[voice])
spotipy - (pip install spotipy --upgrade)
yt_dlp - (python -m pip install --upgrade yt-dlp)
dadjokes-plus-plus
pylast
ffmpeg - (winget install ffmpeg)
